
<div class="list-container">
<% @albums.each do |album| %>
  <ul class="any-list ">
    <li>
      <%= album.title %>
    </li>
    <li>
      <%= album.year %>
    </li>
    <li>
     <%=  album.band %>
    </li>
    <li> live: 
      <%= album.live %>
    </li>
  </ul>
<% end %>

</div>