  
  <h1>Album show page</h1>
  <ul>
    <li>
      <%= @album.title %>
    </li>
    <li>
      <%= @album.year %>
    </li>
    <li>
     <%=  @album.band.name %>
    </li>
    <li> live: 
      <%= @album.live %>
    </li>
  </ul>