/* PHASE 2: Notifications */
.badge {
  display: inline-block;
  border-radius: 100%;
  background-color: black;
  color: white;
  font-size: 14px;
  padding: 1px 6px;
  text-align: center;
  vertical-align: middle;
}
.button {
  display: inline-block;
}

.dropdown {
  display: inline-block;
}

.header-list:hover .dropdown-content {
  display: block;
}

.header-list:hover .badge {
  color: white;
  background-color: red;
}

.dropdown-content {
  position: absolute;
  display: none;
}

.dropdown-content ul {
  background-color: white;
  color: black;
  border: rgb(201, 201, 201) 1px solid;
  font-size: 14px;

}

.dropdown-content li {
  padding: 10px 15px;
  border-bottom: rgb(201, 201, 201) 1px solid;
}
.dropdown-content :last-of-type {
    border-bottom: rgb(201, 201, 201) 0.01px solid;
    border-radius: 0 0 5px 5px;
}