// Place all the styles related to the Cats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.single-cat {
  list-style-type: none;
  width: 200px;

  li {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px rgb(205, 205, 205) solid;
  }


}

.all-cats {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;

  ul {
    padding: 20px 15px;
  }
}